# Streamlit settings
env=production
STREAMLIT_SERVER_HEADLESS=true

# Database settings
DATABASE_URL=sqlite:///./data/yengwe.db
# For PostgreSQL with PostGIS
# DATABASE_URL=postgresql+psycopg2://user:password@host:port/database
